
#Apptext{
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }
    #subText{
        /* justify-content: center; */
        /* align-self: flex-start; */
        font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-size: 70px;
    }
#mainText{
    /* align-self: center; */
    
    font-family: 'Pacifico', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px; 
}    

@media   (max-width:768px){
    #mainText{ 
        font-size: 50px; 
    }  
    #subText{
        /* justify-content: center; */
        /* align-self: flex-start; */
       
font-size: 50px;
    }
}
@media (max-width:400px){
    
        #toogleIcon{
            /* visibility: hidden; */
            display: block;
        }
        ul{
            display: none;
        } 
    }