
    <div id ="contactMain">
        <div id="prof">
    <img src="../../assets/prof.jpg" alt="Developer's pic">
   <b> <i>Prakhar Khare</i></b>
    <b><i>Mean Stack Developer</i></b>
    <b><i>1.8 years experience</i></b>
</div>
   
   <div>
        <b><i>
        Technologies Used
    </i>  
    </b>
</div>
    <div id="images">
        <div>
    <img  src="../../assets/Angular.svg">
    <p><b><i>Angular 6</i></b></p>
</div>
    <div>
    <img   src="../../assets/material.png">
    <p><b><i>Angular Material</i></b></p>
</div>
<div>
   <img src="../../assets/nodejs.png"> 
   <p><b><i>Node</i></b></p>
</div>
<div>
    <img src="../../assets/firebase.png">
    <p><b><i>Firebase</i></b></p>
</div>
<div>
        <img src="../../assets/Css.png">
        <p><b><i>Html5/Css3</i></b></p>
    </div>
    </div>


</div>