
body{
    display:flex;
    flex-direction: column;
    
}
nav >a{
    text-decoration: none;
    background-color: crimson;

}
.mat-drawer{
    background-color: inherit;
    width: 150px;
   
    
    
}
.mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column !important;
   
    flex-grow: 1 !important;
  
}
.mat-drawer-inner-container>a{
    text-decoration: none;
}

/* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  } */
  .mat-drawer-content {
    
    height: inherit;
    
}
  #main{
      display:flex;
      flex-direction: row;
      flex-grow: 1;
      background-color: inherit;
      height: inherit;
  }
  .mat-drawer-container {
    background-color: inherit;
    color:white;
  height: inherit;
}
  #sidebar{
      height:70vh;
      display:flex;
      flex-direction: column;
      align-self: flex-start;
      /* justify-content: space-around; */
      /* flex-grow: 1; */
      /* display: none; */
  }
  #sidebar>a{
      flex-grow:1;
      
  }
 ul{
     display:flex;
     /* justify-content: space-around; */
     flex-direction: row;
     margin: 0px;
     padding:0px;
    }

ul> a{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    /* margin-top: 0.5%; */
    /* border:1px solid crimson; */
    flex-grow: 1;
    text-decoration: none;
    color:white;
    padding:5px;
    font-family: 'Libre Franklin', sans-serif;
    font-size:0.9em;
}
ul a:hover{
    background-color: crimson;
}
.active{
    /* background-color: crimson !important; */
    border-bottom: solid 1px crimson;
}
#toogleIcon{
    /* visibility: hidden; */
    display: none;
}

@media   (max-width:768px){
    ul{
        flex-direction: column;
    }   
}
@media (max-width:500px){
    
        #toogleIcon{
            /* visibility: hidden; */
            display: block;
        }
        ul{
            display: none;
        } 
    }
footer{
    display : flex;
    flex-direction: row;
    justify-content: center;
}
footer img{
    height:50px;
    width:50px;
    
    /* flex-grow: 1; */
}
