/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    background-image: url("./assets/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color:  black; */
    color:white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
